{% extends 'navgition.html' %}

{% block body %}
<div class = 'container' style ='margin-top:60px'>

<h2 class ='text-center text-primary font-weight-bold'>About Us </h2>
     <br><br>

     <div class = "row">
         <div class = "col-sm-4 text-center">
         
           <img src = "" width ="300px" height ="300px" class = "image-responsive">
         </div>
         
         <div class = "col-sm-8 text-center">

               Hello Friends<br>
               This is simple Gym Mangement project Developed by Ransure Brothers ,using python,html,css,javascript and Bootstarp.
         
         
         </div>
    
    </div>    
</div>

{% endblock %}